.container-fluid {
  width: 95%;
  margin-top: 3em;
}
div.tooltip-inner {
  border: solid 0.2rem darkblue;
  background-color: cornflowerblue;
  color: white;
}

.tooltip.in {
  opacity: 1 !important;
}

#mi1-toast {
  color: #212b32;
  background-color: #efefef;
  border: 1px solid darkgrey;
  opacity: 1 !important;
  z-index: 99999;
  text-align: center;
}

#div-patient-details {
  border-radius: 1rem;
}

#div-patient-details div {
  padding: 0.5rem 2rem;
  font-size: larger;
}

#div-main {
  /* height:80%; */
  padding: 0;
}

#div-patient-notes {
  height: 100vh;
}

#text-area-notes {
  width: 100%;
  height: 80%;
  border: solid 0.2rem darkblue;
}

.div-header {
  text-align: center;
  color: white;
  background-color: cornflowerblue;
  border: solid 0.2rem darkblue;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.expand-contract {
  border: 2px solid darkblue;
  /* background-color: cornflowerblue; */
  color: darkblue;
  min-width: 2em;
  font-size: 1rem;
  cursor: pointer;
}

span.expand-contract:before {
  font-family: "Font Awesome 5 Free";
  content: "\f068"; /*-*/
  font-weight: bold;
}

.contracted span.expand-contract:before {
  font-family: "Font Awesome 5 Free";
  content: "\2b"; /*+*/
  font-weight: bold;
}

.suggestions-container {
  border: solid 0.2rem darkblue;
  width: 100%;
  /* padding: 1em 0em 0em; */
  color: darkblue;
  background: orange;
}

.suggestions-container.is-empty {
  background: lightgray;
}

.div-suggestion {
  padding: 0.7em 0.2em !important;
}

.copy-orders {
  cursor: pointer;
}
.contracted .div-order {
  display: none !important;
}

.div-order {
  width: 100%;
  border: solid darkblue;
  padding: 0.5rem 1rem;
  color: darkblue;
  background: aliceblue;
  border-width: 0.05em 0;
  /* border-radius: 0.3rem; */
}
.div-order.selected {
  background-color: greenyellow;
}

.order-text {
  width: 75%;
  display: inline-block;
}

.order-text:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.order-description {
  width: 7%;
  display: inline-block;
  cursor: pointer;
}
.order-score {
  display: inline-block;
  width: 7%;
  color: green;
  text-align-last: right;
}

.order-type {
  display: inline-block;
  width: 7%;
  text-align-last: right;
}

.editor {
  width: 100%;
  min-height: 600px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.editor {
  background-color: whitesmoke;
}
